<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-black" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
          <form [formGroup]="formGroup" (ngSubmit)="islogin()">
            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="red-text">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>
               
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Email</label>

                <input type="email" id="typeEmailX" class="form-control form-control-lg"  formControlName="username" />
                
              </div>

              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typePasswordX">Password</label>

                <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="password" />
                
              </div>

              <button class="btn btn-primary" type="submit">Login</button>
            
            </div>
          </form>
            <div>
              <p class="mb-0">Don't have an account? <button (click)="register()" class="btn btn-primary btn-lg">Sign Up</button>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>