.gradient-custom {
    /* fallback for old browsers */
    background: #180f02;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(74, 146, 212), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(81, 151, 192), rgba(37, 117, 252, 1))
}
.list-group{
    width: 50%;
    
    margin: auto;
}
.list-group-item{
    margin-top: 10px;
}